<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add Event</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/addEvent}" th:object="${event}" method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="event" class="col-form-label">Event</label>
                            <input type="text" th:field="*{event}" class="form-control"
                                   id="event" placeholder="Event" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="eventType" class="col-form-label">Event Type</label>
                            <br>
                            <select id="eventType" name="currentValue" th:field="*{eventType}">
                                <option th:each="eventType : ${eventTypes}"
                                        th:value="${eventType.eventType}"
                                        th:utext="${eventType.eventType}"/>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input  type="hidden" id="currentType" th:value="*{eventTypeName}">
                        <input type="hidden" id="id" th:field="*{id}">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", ready);
    function ready() {
        var setEvent = document.getElementById('eventType').value
        setValue = document.getElementById('currentType').value
        document.getElementById('eventType').value = setValue
    }
</script>
</body>

</html>